[Unit]
Description=OpenWebUI
After=network-online.target

[Container]
Image=ghcr.io/open-webui/open-webui:main
# Adjust to your path to store all data and models
Volume=/mnt/data/openwebui/data:/app/backend/data
Network=host
PublishPort=8080:8080
Label=io.containers.autoupdate=registry
# France
Environment=WATCHDOG_USEC=5000000 TZ=Europe/Paris 
# https://docs.openwebui.com/getting-started/advanced-topics/env-configuration/#security-variables
Environment=DEFAULT_LOCALE=fr
# Disable security stuff and multi user
Environment=CORS_ALLOW_ORIGIN=*
Environment=WEBUI_AUTH=false ENABLE_SIGNUP=false
# No sharing, No Arena, no Channel, No Rating
Environment=ENABLE_COMMUNITY_SHARING=false ENABLE_EVALUATION_ARENA_MODELS=false
Environment=ENABLE_CHANNELS=false
Environment=ENABLE_MESSAGE_RATING=false
# Ollama config
Environment=OLLAMA_BASE_URL=http://10.0.1.38:11434 ENABLE_OPENAI_API=false
# ComfyUI config
Environment=COMFYUI_BASE_URL=http://10.0.1.38:8188 ENABLE_IMAGE_GENERATION=true IMAGE_GENERATION_ENGINE=comfyui
Environment=IMAGE_GENERATION_MODEL=cyberrealistic_v41BackToBasics.safetensors IMAGE_SIZE=512x288 IMAGE_STEPS=45

[Service]
Restart=on-failure
RestartSec=30
TimeoutStopSec=70
#WatchdogSec=60

[Install]
WantedBy=multi-user.target default.target
