[Unit]
Description=ComfyUI for AMD
After=docker.service,network-online.target
Requires=docker.service

[Service]
Restart=always
Restart=on-failure
RestartSec=30
TimeoutStopSec=70
Environment=GFX=11.0.0
Environment=BUILD=false
Environment=GPU=AMD
Environment=MODELS=/mnt/data/models
Environment=DATADIR=/home/aginies
Environment=OPTIONS=--listen --use-pytorch-cross-attention
ExecStartPre=-/usr/bin/docker rm -f comfyui-amd
ExecStart=/usr/bin/docker run --name comfyui-amd \
    --privileged \
    --network host \
    -e BUILD=${BUILD} \
    -e GFX=${GFX} \
    -e GPU=${GPU} \
    -e OPTIONS="--listen --use-pytorch-cross-attention" \
    -v ${MODELS}:/ComfyUI/models \
    -v ${DATADIR}/comfyUI/output:/ComfyUI/output \
    -v ${DATADIR}/comfyUI/my_workflows:/ComfyUI/my_workflows \
    -v ${DATADIR}/comfyUI/custom_nodes:/ComfyUI/custom_nodes \
    -v ${DATADIR}/comfyUI/comfy.settings.json:/ComfyUI/user/default/comfy.settings.json \
    --device /dev/dri \
    --device /dev/kfd \
	comfyui-amd

ExecStop=/usr/bin/docker stop comfyui-amd

[Install]
WantedBy=multi-user.target default.target
