[Unit]
Description=Apache Tika Service
After=network-online.target

[Service]
Restart=always
ExecStartPre=-/usr/bin/podman rm -f apache-tika
ExecStart=/usr/bin/podman run --name apache-tika \
  -p 9998:9998 \
	apache/tika:latest-full

ExecStop=/usr/bin/podman stop -t 0 apache-tika

[Install]
WantedBy=multi-user.target
